* {
    font-family: 'Caveat', 'cursive';
    font-family: 'Dosis', sans-serif;
    font-family: 'Hedvig Letters Serif', serif;
    margin: 0;
    padding: 0;

}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    margin-top: 60px;

}

.logo img {
    width: 200px;
}

nav {
    position: fixed;
    width: 100%;
    height: 55px;
    text-align: center;
    background-color: #333;
    z-index: 1000;
    color: #fff;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-grow: 1;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

#homebtn {
    background-color: white;
    color: black;
}

.btn {
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    background: transparent;
    font-size: 16px;
    font-family: 'Caveat', 'cursive';
    font-family: 'Dosis', sans-serif;
    font-family: 'Hedvig Letters Serif', serif;
    /* border-top-right-radius:10px;
    border-bottom-left-radius:5px; */
    transition: all 1s;

    &:after,
    &:before {
        content: " ";
        width: 3px;
        height: 3px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }

    &:after {
        top: -1px;
        left: -1px;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background: white;
        color: #333;

        &:before,
        &:after {
            width: 100%;
            height: 100%;
            border-color: #333;
        }
    }
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    animation: slide-down 0.5s;
    background-color: #222;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0);
    }
}
body {
    margin: 0;
}
.page-heading {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
    color:#333 ;
    background-color: #ffcc00;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}
.achievement-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.student-box {
    border: 2px solid #ffcc00; 
    padding: 30px;
    border-radius: 8px;
    /* max-width: calc(50% - 20px); */
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.student {
    text-align: center;
}
.student h2
{
    color:#ffcc00;
}

img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit:fill;
    /* border:2px solid #ffcc00; */
}